
<!DOCTYPE html>
<html xmls:th="https://www.thymeleaf.org">
<!-- 위의 th 타임리프로 링크를 걸었기 때문에 이 html은 순수 html이 아니다. -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
타임리프 연습장<br>
메세지 : <span th:text="${msg}">이 영역의 텍스트는 순수 html에만 표시</span><br>
<!-- th는 타임리프 기호, text는 = 뒤의 내용을 span태그 사이에 출력함 -->
메세지2 : <b th:text="${msg2}">두번째 메세지</b><br>
메세지2 : <i>[[${msg2}]]</i><br>
값 결합(+ 사용) : <span th:text="'궁금해 ' + ${msg2} + ' 누가 이길지'">문자열 더하기</span><br>
값 결합(리터럴 치환) : <span th:text="|궁금해  ${msg2} 누가 이길지|">| 문자열 | 형태(+기호 생략 가능)</span><br>
<br>
지역 변수 처리 : <!-- 아래 숫자 값에 ''를 쓰면 문자형, 안쓰면 숫자형이 된다 -->
<span th:with="kor='90',eng=80"> <!--'90'+80=9080, 90 + 80 =170 -->
<!-- th:with="변수명=값...." -->
	<span th:text="|${kor} + ${eng} = ${kor + eng}|">변수는 ${}내에서만 유효. 산술연산:+,-,*,/</span>
</span>
<br>
관계 연산 : <br />
<span th:text="3 >= 4"></span><br>
<span th:text="3 < 4"></span><br>
<span th:text="a >= b"></span><br>
<span th:text="a < b"></span><br>
<span th:text="3 >= 4"></span><br>
<span th:text="3 == 4"></span><br>
<span th:text="3 != 4"></span><br>
<span th:text="a == b"></span><br>
<span th:text="a != b"></span><br>

<hr>
조건 연산(if, unless) :
<span th:text="5 > 4?'크구나':'작네'">삼항 연산</span>
<br>
조건연산(true):
<span th:if="5 > 4">
	조건이 참일 때 수행(else x)
</span>
<br>
<span th:unless="5 == 4">
	조건이 거짓일 때 수행
</span>
<br>
switch 조건문:
<div th:switch="${msg}">
	<b th:case="자바" th:text="|당연히 ${msg}|"></b>
	<i th:case="|타임리프 만세!|" th:text="|결국 ${msg}|"></i>
	<strong th:case="*">그 외 메세지이군요</strong>
	<!-- 공백이 있을 경우 | |안에 써줘야 한다. -->
</div>
<br>
상품 객체 출력 : 객체명.getter, 객체명['getter'] <br>
<div th:text="${sangpum.code}"></div>
<div th:text="${sangpum['code']}"></div> <!-- 위에와 동일한 의미 -->
<div th:text="${sangpum.sang}"></div> <!-- 위에와 동일한 의미 -->
<div th:text="${sangpum.price}"></div> <!-- 위에와 동일한 의미 -->
<br>
객체 참조 기법 th:object : <br>
<div th:object="${sangpum}">
	<span th:text="*{code}">자식 요소에서 *{필드명(정확히는 겟터)}</span>
	<span th:text="*{sang}"></span>
	<span th:text="*{price}"></span>
	<span>[[*{price}]]</span> 
	<!-- 위의 *{price}와 같은 의미 -->
	<span>[[*{['price']}]]</span> 
	<!-- 위의 *{price}와 같은 의미, 특수문자나 공백이 있을 경우 유용하게 사용 가능 -->
</div>
<br>
<p th:text="${list[0]}"></p>
<p th:text="${list[1]}"></p>
반복 처리 : <br>
<table border="1">
	<tr>
		<th>코드</th><th>품명</th><th>가격</th>
	</tr>
	<tr th:each="s:${list}" >
		<td>[[${s.code}]]</td>
		<td>[[${s.sang}]]</td>
		<td>[[${s.price}]]</td>
	</tr>
</table>
</body>
</html>
