<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>상품 자료 여러 개</h2>
	if, switch, each 연습

	<table border="1">
		<tr>
			<th>인덱스</th>
			<th>아이디</th>
			<th>상품명</th>
		</tr>
		<tr th:each="dto,status:${dtos}">
		<!-- dtos 컬렉션의 각 요소를 dto로 바인딩하고, 상태 변수 status를 사용하여 반복 -->
			<!-- 반복하면서 status에 index값이 저장됨 -->
			<td th:if="${status.odd}" th:text="홀수"></td>
			<td th:unless="${status.odd}" th:text="짝수"></td>
			<td th:text="${dto.id}"></td>
			<td th:text="${dto.name}"></td>
		</tr>
	</table>
	<br>
		<table border="1">
		<tr>
			<th>인덱스</th>
			<th>아이디</th>
			<th>상품명</th>
		</tr>
		<tr th:each="dto,status:${dtos}">
			<!-- 반복하면서 status에 index값이 저장됨 -->
			<td th:text="${status.index}"></td>
			<td th:text="${status.count}"></td>
			<td th:if="${status.odd}" th:text="홀수"></td>
			<td th:if="${status.even}" th:text="짝수"></td>
		</tr>
	</table>
	<br>
	<table border="1">
		<tr>
			<th>인덱스</th>
			<th>아이디</th>
			<th>상품명</th>
		</tr>
		<tr th:each="dto,status:${dtos}">
			<!-- 반복하면서 status에 index값이 저장됨 -->
		<!-- status에 저장된 값이 짝수일 경우 짝수, 홀수일 경우 홀수 출력 -->	
			<td th:switch="${status.even}">
			<span th:case=true>짝수</span> 
			<span th:case=false>홀수</span>
			</td>
			<td th:text="${dto.id}"></td>
			<td th:text="${dto.name}"></td>
		</tr>
	</table>
	<hr>
	링크 처리<br>
	<a href="/thleaf/ex1">show1로 이동</a><br>
	<a th:href="@{/thleaf/ex1}">show1로 이동</a><br>
	<a th:href="@{https://www.naver.com}">네이버로 이동</a><br>
	<a th:href="@{/thleaf/ex4(param1='금요일',param2='반가워')}">show4로 이동</a><br>
</body>
</html>